<div>
  <button ng-click="jsonIntercept(links.prevPage, $event)" ng-show="links.prevPage != null">Previous</button>
  <button ng-click="jsonIntercept(links.nextPage, $event)" ng-show="links.nextPage != null">Next</button>
  <table>
    <thead>
      <th ng-click="order('name')">Name</th>
      <th ng-click="order('value')">Value</th>
    </thead>
    <tbody>
      <tr ng-repeat="doodad in doodads">
        <td>{{doodad.name}}</td>
        <td>{{doodad.value}}</td>
      </tr>
    </tbody>
  </table>
  <div id="pagination">
    <span ng-repeat="page in pages">
      <a href="#" ng-click="jsonIntercept(page.href, $event)">
        {{ page.num }}
      </a>
    </span>
  </div>
</div>
