<div>
  <button data-ng-click="jsonIntercept(links.prevPage, $event)" data-ng-show="links.prevPage != null">Le Previous</button>
  <button data-ng-click="jsonIntercept(links.nextPage, $event)" data-ng-show="links.nextPage != null">Le Next</button>
  <table>
    <thead>
      <th data-ng-click="jsonIntercept(links.reorderName, $event)">Le Name</th>
      <th data-ng-click="jsonIntercept(links.reorderValue, $event)">Le Value</th>
    </thead>
    <tbody>
      <tr data-ng-repeat="doodad in doodads">
        <td>{{doodad.name}}</td>
        <td>{{doodad.value | currency }}</td>
      </tr>
    </tbody>
  </table>
  <div id="pagination">
    <span data-ng-repeat="page in pages">
      <a href="#" data-ng-click="jsonIntercept(page.href, $event)">
        {{ page.num }}
      </a>
    </span>
  </div>
</div>
